        *{
            margin: 0;
            padding: 0;
        }

        #map{
            height: 700px;
            width: 85%;
        }

        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .center-right {
            position: absolute;
            top: 340px;
            right: 10px;
        }

        .text-c {
            text-align: center;
        }

        .neighbourhood-tag {
            background-color: #4285F4;
            border-radius: 8px;
            color: #f8e3e3;
            font-size: 11px;
            padding: 5px 5px;
            position: relative;
        }

        .neighbourhood-tag::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #4285F4;
        }

        .button {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
          }
          
          .button:hover {background-color: #3e8e41}
          
          .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
          }